h5{
    margin-top: 3px !important;
    margin-left: 5px !important;
    font-size: 1.1rem !important;
    font-weight: normal !important;
}

h4{
    font-size: 1.2rem !important;
    font-weight: bolder !important;
    margin-top: 2px !important;
}

span{
    font-size: 0.8rem !important;
}

h1 {
    font-family: fantasy !important;
    font-size: 3rem !important;
    /* letter-spacing: 0.2rem !important; */
}